<!DOCTYPE html>
<html lang="en">
<head>

	<title>Home - Dashboard</title>

	<link rel = "icon" href = "https://cdn0.iconfinder.com/data/icons/cybernetics-outline/60/016_-_Cybernetic_Eye-512.png" type = "image/x-icon">
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	
</head>


<style>

body {
	background: url('../static/road.jpg');
	background-repeat: no-repeat;
	background-color: #cccccc;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}
h1 {
  text-align: center;
  color:#dfdfdf;
}
.loader{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('../static/load1.gif') 
              50% 50% no-repeat rgba(255, 255, 255, 0.4);
}
.display{
	background-color: rgba(0, 0, 0, 0.4);
}
.specific {
	background-color: rgba(0, 0, 0, 0.2);
  }
  
</style>
					

<body>

	<div class="loader" id="img" style="display:none;"></div>
	<br>
	
	<div class="specific" style="max-width:960px;margin:auto;width:96%;color:#dfdfdf;border-radius: 20px;">
		
		<br>
		<div class="display" style="margin:auto;width:96%;border-radius:10px;">
			<br> <h1>Driver Drowsiness Detection System</h1> <br> 
		</div>
		<br>


		<div class="display" style="margin:auto;width:96%;border-radius: 10px;">
			<br>
			
				<div class="form-group row" style="">			
				
					<div class="row" style="width:100%;">
						<div class="" style="width:76%;margin-left:4%;display:flex;justify-content:space-between;"><h3 style="margin:auto;">Live Video Feed</h3></div>
						<div class="" style="width:20%;display:flex;justify-content:space-between;"><h3 style="margin:auto;">Options</h3></div>
					</div>
					
					<img style="width:76%;margin-top:2%;margin-left:4%;border-radius: 8px;" src="{{ url_for('video_feed') }}" >
					
					
					<!-- Trigger the modals with a buttons -->
					<div class="form-group row" style="width:14%;margin-left:2%;margin-top:2%;">
						
						<button type="button" style="width:100%;margin-top:auto;margin-bottom:auto;" class="btn btn-outline-warning btn-lg btn-block" data-toggle="modal" data-target="#details">Driver Details</button>
						<!-- <button type="button" style="width:100%;margin-top:auto;margin-bottom:auto;" class="btn btn-outline-warning btn-lg btn-block" data-toggle="modal" data-target="#status">Driver Status</button> -->
						<button type="button" style="width:100%;margin-top:auto;margin-bottom:auto;" class="btn btn-outline-warning btn-lg btn-block" data-toggle="modal" data-target="#settings">Settings</button>
						<button type="button" style="width:100%;margin-top:auto;margin-bottom:auto;" class="btn btn-outline-danger  btn-lg btn-block" data-toggle="modal" data-target="#logout">Log Out</button>
						
					
					</div>
					<!-- Trigger the modals with a buttons -->
						
						
					<!-- Start of Modal -->
					<div id="details" class="modal fade" tabindex="-1">
					  <div class="modal-dialog modal-lg">
						<div class="modal-content" style="color:#34495e;">
						  <div class="modal-header">
							<h5 class="modal-title">Driver Details</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							  <span aria-hidden="true">&times;</span>
							</button>
						  </div>
						  <div class="modal-body row" style="display: flex;align-items: center;justify-content: center;">
							<img id="dImg" src="https://st.depositphotos.com/1779253/5140/v/600/depositphotos_51405259-stock-illustration-male-avatar-profile-picture-use.jpg" style="margin-left:2%;" width="200" height="200">
							<div style="width:68%;margin-left:4%;margin-top:4%;" >
							  <div class="form-group row">
								<label for="dName" class="col-sm-2 col-form-label">Name</label>
								<div class="col-sm-8">
								  <input type="text" readonly class="form-control" id="dName" value="">
								</div>
							  </div>
							  <div class="form-group row">
								<label for="dAddress" class="col-sm-2 col-form-label">Address</label>
								<div class="col-sm-8">
								  <input type="text" readonly class="form-control" id="dAddress" value="">
								</div>
							  </div>
							  <div class="form-group row">
								<label for="dPhone" class="col-sm-2 col-form-label">Phone</label>
								<div class="col-sm-8">
								  <input type="text" readonly class="form-control" id="dPhone" value="">
								</div>
							  </div>
							  <div class="form-group row">
								<label for="dEmail" class="col-sm-2 col-form-label">Email</label>
								<div class="col-sm-8">
								  <input type="text" readonly class="form-control" id="dEmail" value="">
								</div>
							  </div>
							</div>
						  </div>
						  <div class="modal-footer"><a href="javascript:;" data-dismiss="modal" class="btn btn-secondary btn-block">Close</a></div>
						</div>
					  </div>
					</div>
					
					
					<script>
						var driverList = {{ driverList|tojson }};
						var name = "";
						setInterval(() => {
							fetch("{{ url_for('name_feed') }}")
							.then(response => {
									response.text().then(t => {name = t})
								});
							for (index in driverList){
								if (name == driverList[index][0]){
									document.getElementById("dName").value 		= driverList[index][1];
									document.getElementById("dAddress").value 	= driverList[index][2];
									document.getElementById("dPhone").value 	= driverList[index][3];
									document.getElementById("dEmail").value 	= driverList[index][4];
									document.getElementById("dImg").src 		= driverList[index][5];
									break;
								}
							}
						}, 10000); 
					</script>
					
					
					<div id="status" class="modal fade" tabindex="-1">
					  <div class="modal-dialog">
						<div class="modal-content" style="color:#34495e;">
						  <div class="modal-header">
							<h5 class="modal-title">Modal title</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							  <span aria-hidden="true">&times;</span>
							</button>
						  </div>
						  <div class="modal-body">
							<p>Modal body text goes here.</p>
						  </div>
						  <div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Save changes</button>
						  </div>
						</div>
					  </div>
					</div>
					
					
					<div id="settings" class="modal fade" tabindex="-1">
					  <div class="modal-dialog  modal-lg">
						<div class="modal-content" style="color:#34495e;">
						  <div class="modal-header">
							<h5 class="modal-title">Settings</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							  <span aria-hidden="true">&times;</span>
							</button>
						  </div>
						  
						  <form method="post">
							  <div class="modal-body">
								  <div class="form-group" style="display: flex;justify-content: space-between;">
									<label style="margin-left:4%;">Face Detector</label>
									<div class="btn-group btn-group-toggle row" style="margin-right:4%;" data-toggle="buttons">
										<label class="btn btn-outline-success">
											<input type="radio" class="form-control" name="yoloface" autocomplete="off">yoloFace</label>
										<label class="btn btn-outline-warning">
											<input type="radio" class="form-control" name="mtcnn" autocomplete="off">MTCNN</label>
										<label class="btn btn-outline-danger">
											<input type="radio" class="form-control" name="haarcascade" autocomplete="off">Haarcascade</label>
										<label class="btn btn-outline-danger">
											<input type="radio" class="form-control" name="dlib" autocomplete="off">DLib</label>
									</div>
								  </div>
								  <div class="form-group" style="display: flex;justify-content: space-between;">
									<label style="margin-left:4%;">Feature Extractor</label>
									<div class="btn-group btn-group-toggle row" style="margin-right:4%;" data-toggle="buttons">
										<label class="btn btn-outline-warning">
											<input class="form-control" type="radio" name="facenet" autocomplete="off">FaceNet</label>
										<label class="btn btn-outline-success">
											<input class="form-control" type="radio" name="vggface" autocomplete="off">VGGFace</label>
									</div>
								  </div>
							  </div>
							  
							  <div class="modal-footer">
								<form method="post" action="/">
									<button type="submit" name="submit_button" class="btn btn-success">Save changes</button>
								</form>
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							  </div>
						  </form>
						  
						</div>
					  </div>
					</div>
					
					
					<div id="logout" class="modal fade" tabindex="-1">
					  <div class="modal-dialog">
						<div class="modal-content" style="color:#34495e;">
						  <div class="modal-header">
							<h5 class="modal-title">Log Out</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							  <span aria-hidden="true">&times;</span>
							</button>
						  </div>
						  <div class="modal-body"><i class="fa"></i> Are you sure you want to log-off?</div>
						  <div class="modal-footer"><a href="javascript:;" class="btn btn-danger btn-block">Log Out</a></div>
						</div>
					  </div>
					</div>
					<!-- End of Modal -->
					
					
					<div class="row" style="width:100%;margin-top:2%;">
						<div class="" style="width:50%;text-align:right;"><h2 style="margin:auto;">Status :&nbsp;</h2></div>
						<div class="" style="width:50%;text-align: left;"><h2 style="margin:auto;" id="state">NA</h2></div>
						<script>
							var state = document.getElementById("state");
							setInterval(() => {
								fetch("{{ url_for('state_feed') }}")
								.then(response => {
										response.text().then(t => {state.innerHTML = t})
									});
								}, 1500); 
						</script>
					</div>
					
					<script>
						setInterval(() => {
							fetch("{{ url_for('alert_system') }}")
							.then(response => {
								});
							}, 2000); 
					</script>
					
				</div>
			<br>
		</div>		
		<br>
	</div>
	<br>
		
	
</body>
</html>

